name: PHPStan

on:
  pull_request:
  merge_group:
  push:
    branches:
      - 'renovate/**'

jobs:
  phpstan:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sgoettsch/docker-phpstan:latest-php8.1@sha256:5fd9c2e3630fb59e8a59ae989924b1012b2f9358910a554717ec7811d5429feb
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Composer
        run: composer install

      - name: PHPStan
        uses: docker://ghcr.io/sgoettsch/docker-phpstan:latest-php8.1@sha256:5fd9c2e3630fb59e8a59ae989924b1012b2f9358910a554717ec7811d5429feb
        with:
          args: analyze --error-format=table /github/workspace
